* {
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
a{
	color: #fff;
	text-decoration: none;
}
p{
	color: #FFFFFF;
}
h2{
	color: #FFFFFF;
}
img{
	width: 180px;
}
body{
	background: url(../img/1.jpg) no-repeat fixed;
	background-size:100% ;
}
header{
	max-width: 1200px;
	margin: auto;
	position: relative;
	top: 50px;
}
.menu{
	position: absolute;
	top: 0;
	right: 0;
}
header ul li{
	float: left;
	list-style: none;
	margin:70px 50px;
}
header ul li a{
	padding: 20px;
	transition: color .5s,border .5s,all .5s;
}
header ul li a:hover{
	border: 1px solid #fff;
	font-size: 30px;
}
