*{box-sizing: border-box;}
	body{
		padding: 0;
	    margin:0;
	}
	.clearfix::after{
		content: "";
		display: block;
		clear: both;
	}
	#wrapper{max-width: 1200px;min-width: 800px;margin: auto;}
 	header{
 		border: 1px solid #000;
 		height: 100px;
 		margin: 1% 0;
 	}
 	aside{
 		border: 1px solid #000;
 		min-height: 500px;
 		width: 240px;
 		float: left;
 	}
 	main{
 		border: 1px solid #000;
 		min-height: 500px;
 		width: 950px;
 		float: right;
 		
 	}
 	footer{
 		border: 1px solid #000;
 		height: 100px;
 		margin: 1% 0;
 	}
 	li{line-height: 40px;display: inline;float: left;padding: 25px 150px;}
 	li a{text-decoration: none;color:#000;display: block;}
 	li a:hover{color:#f00; }